<button class ="btn blue" routerLink="/exercices/html/ex1/1">page1</button>
<button class ="btn blue" routerLink="/exercices/html/ex1/2">page2</button>
<button class ="btn blue" routerLink="/exercices/html/ex1/3">page3</button>
<button class ="btn blue" routerLink="/exercices/html/ex1/4">page4</button>
<button class ="btn blue" routerLink="/exercices/html/ex1/5">page5</button>
<button class ="btn blue" routerLink="/exercices/html/ex1/6">page6</button>
<br>
<a>Waning, all of this following pages are templates extracted from W3C school.</a>
<br>
<a>Any attempt to navigate in those may show bad experiences, and</a>
<br>
<a>most of images, crucial for the design, will not be shown.</a>