<nav class="navbar navbar-expand-lg navbar-light blue">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item dropdown">
      <a type="button" href="" class="nav-link dropdown-toggle dropdown-toggle-split" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exercices</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/exercices/html">HTML</a>
        <a class="dropdown-item" href="#">CGI-BIN</a>
        <a class="dropdown-item" href="#">PHP</a>
        <a class="dropdown-item" href="#">SQLite</a>
        <a class="dropdown-item" href="#">ProcessingJS</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Platform</a>
      </div>
    </li>
    <li class="nav-item">
      <a routerLink="/heroes">Heroes</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard">Dashboard</a>
    </li>
  </ul>
</nav>